<h1>MODIFICAR ARTICULO EN ESPECIFICO</h1>
<%= render 'atributos' %>
<%= link_to 'eliminar', article_path(@articulo), method: :delete, class:"btn btn-danger", data:{confirm: "¿confirma querer eliminar este registro?"} %>
