<div class="jumbotron text-center">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">bienvenido a la mejor pagina de acción y juegos del mundo</p>
    <hr class="my-4">
    <p>prueba de tipografia</p>
    <%= link_to 'INGRESAR', login_path, class:"btn btn-success btn-lg"%>
</div>