<div class="container">
<% if error.errors.any? %>
 <div class="alert alert-danger alert-dissmisible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <% error.errors.full_messages.each do |msg|%>
        <div><%= msg %></div>
    <% end %>
 </div>
<% end %>
</div>